<section class="bg-info" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
               <hr><hr><hr> <h1 class="section-heading">We've got what your health needs!</h1>
                <hr class="light">
                <h4 class="text-centre">Select a problem and we will provide you with all the necessary information, precautions and available doctors for your problem.</h4>
              <hr><hr><hr>  <a href="/Home/Index" class="btn btn-default btn-xl bg-primary"><strong>Continue!</strong></a>
            </div>
        </div>
    </div>
</section>
