<div class=" container ">
    <form class="form-signin" method="post" action="~/Home/DisAdded">
        <hr class="fade"><hr class="fade"> <h2 class="form-signin text-center text-info">Please enter the following info!!!</h2>
      
        <label for="inputDisease" class="sr-only text-info"> Disease Name</label>
        <input type="text" id="inputName" class="form-signin " name="name"style="width:840px" placeholder="Disease Name" required autofocus>

        <label for="inputInfo" class="sr-only text-info">Basic Info.</label>
        <input type="text" id="basicInfo" class="form-signin  " name="info" style="width: 840px; height: 140px" placeholder="Basic Info." required autofocus>
        <label for="inputPrecautions" class="sr-only">Precautions</label>
        <input type="text" id="preacutions" class="form-signin "name="precautions" style="width:840px;height:140px"  placeholder="Precautions" required>
        <label for="inputAid" class="sr-only">Category</label>
        <input type="text" id="category" class="form-signin "  style="width:840px;height:140px" name="category" placeholder="Category" required>
        <button class="btn btn-lg btn-primary btn-block center-block" style="width:340px" type="submit" ><strong>Done</strong></button>
        <hr class="fade"><hr class="fade"><hr class="fade">
    </form>
</div>