@model termProject.Models.Appointment
@{
    ViewBag.Title = "AddApp1";
}

<h2 class="text-info">@Session["uname"] your Appointment has been made succesfully.</h2>
<h3 class="text-info">Timing of Appointment is @Model.time</h3>