<div class=" container">
    <form class="form-signin" method="get" action="~/Home/AddApp1">
        <hr class="fade"><hr class="fade"><hr class="fade"> <h2 class="form-signin-heading text-center text-info">Please sign in</h2>
        <hr class="fade">    <hr class="fade"><hr class="fade">  <label for="inputEmail" class="sr-only text-info">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control center-block" style="width:340px" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="pwd" class="form-control center-block" style="width:340px" placeholder="Password" required>
        <div class="checkbox text-center">
            <hr class="fade">   <label class="text-info">
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block center-block" style="width:340px" type="submit"><strong>Sign in</strong></button>
        <hr class="fade"><hr class="fade"><hr class="fade">
    </form>
</div>

