<div class="container">
    <div class="row" style="">
        <div class="col-md-3 bg-warning">
            <h1><strong>Precautions</strong></h1>
            <p>Sooo Many Precautions</p>
        </div>
        <div class="col-md-6 bg-info">
            <h1><strong>General Info.</strong></h1>
            <p>Sooo Much Info</p>
        </div>
        <div class="col-md-3 bg-success">
            <h1><strong>Medical Aid</strong></h1>
            <p>Sooo Many Doctors</p>
        </div>
    </div>
</div>

