<hr class="fade"><hr class="fade"><hr class="fade"><section id="contact" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="fade"><hr class="fade"><hr class="fade">   <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="fade">
                <hr class="fade"><hr class="fade">   <h4>Need expert opinion??? Give us a call or send us an email and we will get back to you as soon as possible!</h4>
            </div>
            <hr class="fade"><hr class="fade">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
             <h5><strong>123-456-6789</strong></h5>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <h5><a href="mailto:your-email@your-domain.com"><strong>feedback@edoc.com</strong></a></h5>
            </div>
            <hr class="fade"><hr class="fade"><hr class="fade">
        </div>
    </div>
</section>
