@{
    ViewBag.Title = "SignAgain";
}

<h2 class="text-info text-center"><strong>Sorry..this combo. of pwd,email already exists..Try something else..</strong></h2>
<a href="~/Home/SignUp"><h3 class="text-info text-center"><strong>Try Again</strong></h3></a>