<div class=" text-center">

    <hr class="fade"><hr class="fade"><hr class="fade">
    <h1 class="text-info"> <strong>Signing Up successful!!!</strong></h1>
    <hr class="fade"><hr class="fade"><hr class="fade"><hr class="fade">
    <a href="/Home/Index" class="btn btn-default btn-xl bg-primary text-info"><strong>Continue!</strong></a>
    <hr class="fade"><hr class="fade"><hr class="fade"><hr class="fade">
</div>

