<h1 class="text-info">Enter your suggestions here.</h1>
<div >
    <input type="text" class="form-control" maxlength="100" name="suggestions" style="height:100px" placeholder="What's your opinion??'" /><br />
    <a href="~/Home/Suggested" class="btn btn-default btn-xl wow tada text-info">Submit</a>
</div>
